---
import Layout from "./Layout.astro";
import Youtube from "#components/astro/Youtube.astro";
import Img from "#components/astro/Img.astro";
import { fade } from "astro:transitions";
import path from "path";
import GithubSupport from "#components/GithubSupport.astro";
import GithubEdit from "#components/GithubEdit.astro";

const { frontmatter } = Astro.props;
const { slug } = Astro.params;

const contentRoute = [
  {
    name: frontmatter.title,
    url: "", // not necessary for post paths
    path: slug?.toString(),
  },
];

//https://github.com/shawn-sandy/a11y-cafe/blob/main/src/content/posts/3-understandable.mdx
// https://github.com/shawn-sandy/a11y-cafe/blob/main/src/content/posts/text-alternatives.mdx
const editPath = `https://github.com/shawn-sandy/a11y-cafe/edit/main/src/content/posts/${slug}.mdx`;
---

<Layout
  pageTitle={frontmatter.title}
  pageDescription={frontmatter.description}
  breadcrumbRoutes={contentRoute}
>
  <h2 data-ui="display" id="post-title" class="post-title">
    {frontmatter.title}
  </h2>

  {
    frontmatter.image && (
      <p>
        <p>
          <Img
            imgSrc={frontmatter.image.url}
            imgAlt={frontmatter.image?.alt}
            imgCaption={frontmatter.image?.caption}
          />
        </p>
      </p>
    )
  }
  {
    frontmatter.youtube?.id && (
      <p>
        <Youtube id={frontmatter.youtube.id} />
      </p>
    )
  }

  <slot />
  {
    frontmatter.tags && frontmatter.tags.length > 0 && (
      <div>
        <ul class="tags" data-list="unstyled inline">
          {frontmatter.tags.map((tag: string) => (
            <li class="tag">
              <a href={`/tags/${tag}`}>
                <span data-tag>{tag}</span>
              </a>
            </li>
          ))}
        </ul>
      </div>
    )
  }
  {
    frontmatter?.editUrl && (
      <div class="div-align-right">
        <GithubEdit slug={slug || ""} />
        <GithubSupport
          issueTitle={`I found an issue with the following (slug: ${slug}) -  ${frontmatter.title}`}
          issueRepository="shawn-sandy/a11y-cafe"
        />
      </div>
    )
  }
</Layout>
